@import "tailwindcss";

*{
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-right{
  margin: 20px;
  margin-bottom: 80px;
  margin-left: 50px;
}

.axis-label{
  margin-top: 30px;
}